/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --header-text-color: #ffc2e6;
  --header-description-color: #353430;
  --color-hover: rgb(50 49 45 / 0.4);
  --main-text-color: #353430;
  --section-title-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);

  .rec-element {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --header-text-color: #ffc2e6;
    --header-description-color: #353430;
    --color-hover: rgb(50 49 45 / 0.4);
    --main-text-color: #353430;
    --section-title-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
  }

  .rec-element {
    display: none;
  }
}
