/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family), serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: var(--padding-mobile);
  block-size: 100vh;
  min-block-size: 668px;
}

.cover_title {
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 1.3;
  color: var(--header-description-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  max-inline-size: 70px;
  color: var(--menu-text);
  line-height: 1;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  background-color: transparent;
}
