/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family), serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: var(--padding-mobile);
  block-size: 100vh;
  min-block-size: 668px;
}

.cover_title {
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 1.3;
  color: var(--header-description-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  max-inline-size: 70px;
  color: var(--menu-text);
  line-height: 1;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  background-color: transparent;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.rec-element {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 10px;
  right: 20px;
}

@media (min-width: 768px) {
  .rec-element {
    top: 20px;
    right: 30px;
  }
}

.rec-element::before {
  content: "REC";
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .rec-element::before {
    top: 20px;
    right: 20px;
  }
}

.rec-element::after {
  content: "";
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

