/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: var(--padding-mobile);
  block-size: 100vh;
}

@media (min-width: 768px) {
  .header {
    padding: var(--padding-desktop);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.cover_title {
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--header-text-color);
}

.cover_title-header {
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .cover_title-header {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 1.3;
  color: var(--header-description-color);
  background-color: var(--accent-color);
  font-weight: var(--font-weight-bold);
}

@media (min-width: 768px) {
  .intro__title {
    inline-size: 50%;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  color: var(--section-title-color);
  line-height: 1;
  border: 1px solid transparent;
  padding: 2px 13px;
  text-transform: lowercase;
  cursor: pointer;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: transparent;
  border-block-end: 1px solid var(--section-title-color);
}

.header__theme-menu-button_active {
  /*pointer-events: none;*/
  border: 1px solid var(--section-title-color);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  bottom: 10px;
  border-block-end: 1px solid var(--section-title-color);
  border-inline-start: 1px solid var(--section-title-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }
}

.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  right: 10px;
  top: 10px;
  border-block-start: 1px solid var(--section-title-color);
  border-inline-end: 1px solid var(--section-title-color);
}

@media (min-width: 768px) {
  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }
}

.rec-element {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 10px;
  right: 20px;
}

@media (min-width: 768px) {
  .rec-element {
    top: 20px;
    right: 29px;
  }
}

.rec-element::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 1.38889;
}

@media (min-width: 768px) {
  .rec-element::before {
    top: 20px;
    right: 20px;
  }
}

.rec-element::after {
  content: "";
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.content {
  padding: var(--padding-mobile);
  display: grid;
  gap: 50px;
  margin-block-start: 30px;
}

@media (min-width: 768px) {
  .content {
    padding: var(--padding-desktop);
    gap: 80px;
    margin-block-start: 40px;
  }
}

.content__section {
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  .content__section {
    gap: 12px;
  }
}

@media (min-width: 768px) {
  .content__why {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 768px) {
  .content__how {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1024px) {
  .content__what {
    gap: 20px;
  }
}

.section__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--line-height);
  color: var(--section-title-color);
}

@media (min-width: 768px) {
  .section__title__what {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

.content__article-text {
  color: var(--main-text-color);
  line-height: var(--line-height);
}

.article__card {
  display: grid;
  gap: 10px;
}

.special-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.special-link:hover {
  border: transparent;
  border-block-end: 1px solid var(--main-text-color);
}

.special-link:focus {
  outline: none;
}

.special-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.article__list {
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  .section-what {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
  }
}

.title-block {
  font-weight: var(--font-weight-normal);
  margin-block-start: 10px;
}

@media (min-width: 768px) {
  .article__card-pictures {
    gap: 20px;
  }
}

.content__article-advice,
.content__article-pictures {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .content__article-pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
  }
}

.image {
  max-width: inherit;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .beach {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column: 2/4;
  }
}

.footer {
  display: grid;
  position: relative;
  align-items: center;
  justify-self: center;
  padding: var(--padding-mobile);
  block-size: 100vh;
  margin-block-start: 30px;
  width: 100%;
}

.cover_title-footer {
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
}

@media (min-width: 768px) {
  .footer {
    padding: var(--padding-desktop);
    margin-block-start: 40px;
  }

  .cover_title-footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
